{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <meta
    content="width=device-width, initial-scale=1.0"
    name="viewport"
  >

  <title>Blog Platform</title>

  <!-- Bootstrap -->
  <link
    href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    rel="stylesheet"
  >

  <!-- Bootstrap Icons -->
  <link
    href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
    rel="stylesheet"
  >

  <!-- AOS -->
  <link
    href="{% static 'vendor/aos/aos.css' %}"
    rel="stylesheet"
  >

  <!-- Swiper -->
  <link
    href="{% static 'vendor/swiper/swiper-bundle.min.css' %}"
    rel="stylesheet"
  >

  <!-- GLightbox -->
  <link
    href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
    rel="stylesheet"
  >

  <!-- Main CSS -->
  <link
    href="{% static 'css/main.css' %}"
    rel="stylesheet"
  >

</head>

<body>





<!-- TOP HEADER -->

<header id="header" class="header position-relative">

  <div class="top-bar py-3 border-bottom bg-white">

    <div class="container d-flex justify-content-between align-items-center">

      <!-- LOGO -->

      <a
        href="/"
        class="logo d-flex align-items-center text-decoration-none"
      >

        <h1 class="sitename m-0">
          Blog Platform
        </h1>

      </a>





      <!-- RIGHT SIDE -->

      <div class="d-flex align-items-center gap-3">

        <!-- SOCIALS -->

        <a href="#" class="text-dark">
          <i class="bi bi-facebook"></i>
        </a>

        <a href="#" class="text-dark">
          <i class="bi bi-twitter"></i>
        </a>

        <a href="#" class="text-dark">
          <i class="bi bi-instagram"></i>
        </a>





        <!-- SEARCH -->

        <form
            class="d-flex"
            method="GET"
            action="{% url 'home' %}"
        >

            <input
                class="form-control"
                type="search"
                name="q"
                placeholder="Search..."
                value="{{ request.GET.q }}"
            >

        </form>





        <!-- BUTTON -->

        {% if user.is_authenticated %}

              <span class="fw-bold">
                  Hello, {{ user.username }}
              </span>

                {% if user.profile.role != "reader" %}
              <a
                href="/create"
                class="btn btn-primary"
              >
                Create Post
              </a>

                {% endif %}

              <form
                method="post"
                action="{% url 'logout' %}"
              >
                  {% csrf_token %}

                  <button
                    type="submit"
                    class="btn btn-outline-dark"
                  >
                      Logout
                  </button>

              </form>

          {% else %}

              <a
                href="{% url 'login' %}"
                class="btn btn-outline-primary"
              >
                Login
              </a>

              <a
                href="{% url 'register' %}"
                class="btn btn-primary"
              >
                Register
              </a>

          {% endif %}

      </div>

    </div>

  </div>

</header>





<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg bg-white border-bottom">

  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >

      <span class="navbar-toggler-icon"></span>

    </button>





    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarNav"
    >

      <ul class="navbar-nav gap-4">

          <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">
                  Home
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">
                  About
              </a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'category' %}">
                  Category
              </a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">
                  Profile
              </a>
          </li>

          {% endif %}

          <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">
                  Contact
              </a>
          </li>

      </ul>

    </div>

  </div>

</nav>





<!-- MAIN -->

<main class="main">

  {% block content %}
  {% endblock %}

</main>





<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- AOS -->
<script src="{% static 'vendor/aos/aos.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Purecounter -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>

<!-- GLightbox -->
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>

</body>

</html>