{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="py-5">

  <div class="container">

    <div class="text-center mb-5">

      <h1 class="fw-bold">

        Categories

      </h1>

      <p class="text-muted">

        Browse articles by category

      </p>

    </div>





    <div class="row gy-4">

      {% for category in categories %}

      <div class="col-lg-4">

        <div class="card border-0 shadow-sm rounded-4 h-100">

          <div class="card-body p-4 text-center">

            <i class="bi bi-folder fs-1 text-primary"></i>





            <h3 class="fw-bold mt-3">

              {{ category.name }}

            </h3>





            <p class="text-muted">

              Articles in {{ category.name }} category

            </p>





            <span class="badge bg-primary mb-3">

              {{ category.posts.count }} Posts

            </span>





            <div>

                <a
                  href="{% url 'category_posts' category.id %}"
                  class="btn btn-outline-primary"
                >
                  View Posts
                </a>

            </div>

          </div>

        </div>

      </div>

      {% empty %}

      <div class="text-center py-5">

        <h3>

          No categories yet

        </h3>

      </div>

      {% endfor %}

    </div>

  </div>

</section>

{% endblock %}