{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="blog-hero" class="blog-hero section">

  <div class="container">

    <div class="blog-grid">

      <!-- FEATURED POST -->

      {% if posts %}

      <article class="blog-item featured">

        <img
          src="{% static 'img/blog/blog-post-1.webp' %}"
          class="img-fluid"
          alt=""
        >

        <div class="blog-content">

          <div class="post-meta">

            <span class="date">
              {{ posts.0.created_at|date:"d M Y" }}
            </span>

            <span class="category">
              {{ posts.0.category.name }}
            </span>

          </div>





          <h2 class="post-title">

            <a
              href="{% url 'post_detail' posts.0.id %}"
              class="text-white text-decoration-none"
            >
              {{ posts.0.title }}
            </a>

          </h2>





          <p class="text-white">

            {{ posts.0.content|truncatewords:20 }}

          </p>

        </div>

      </article>

      {% endif %}






      <!-- SMALL POSTS -->

      {% for post in posts|slice:"1:4" %}

      <article class="blog-item">

        <img
          src="{% static 'img/blog/blog-post-2.webp' %}"
          class="img-fluid"
          alt=""
        >

        <div class="blog-content">

          <div class="post-meta">

            <span class="date">
              {{ post.created_at|date:"d M Y" }}
            </span>

            <span class="category">
              {{ post.category.name }}
            </span>

          </div>





          <h3 class="post-title">

            <a
              href="{% url 'post_detail' post.id %}"
              class="text-white text-decoration-none"
            >
              {{ post.title }}
            </a>

          </h3>

        </div>

      </article>

      {% empty %}

      <div class="text-center py-5">

        <h3>
          No posts yet
        </h3>

      </div>

      {% endfor %}

    </div>

  </div>

</section>

{% endblock %}